<!--<h4>Measuring programming stacks popularity with Stackoverflow data</h4>-->
<!--Measuring programming languages popularity is a tricky business. Do you measure google search volume for language tutorials like Tiobe?-->
<!--How about github activity like githut? Or some other combination like Redmonk?-->
<!--<h6>Why should I care about Stackoverflow questions trends?</h6>-->
<!--I have come to realize that Stackoverflow holds many of the answers to what language is on it's way up, or down.-->
<!--Using Google (Tiobe's method) won't always give us an accurate result, at least not by itself: people search Google for tutorials out of curiousity. I have searched for Haskell, Smalltalk and Elixir numerous times without writing a single line of code in any of them. However I did ask quite a few questions on Stackoverflow about PHP, Javascript and Ruby: languages I actually use daily.-->
<!--<h6>Isn't Stackoverflow a flawed measurement for a language's popularity?</h6>-->
<!--It's definitely imperfect . But it's also foolish to ignore the data accumulated over the years in such a huge community . At the very least you can be sure that a Stackoverflow question represents a person who actually tried to write some code in a language. That's can be a step up from measuring Google trends for tutorials.-->
<!--<h6> Why should I even care about a language's popularity? Trump is popular. Is he the best president?</h6>-->
 <!--Programmers sleep better at night knowing their chosen stack is relatively safe for the foreseeable future. Team leaders prefer stacks that are used by many people since these stacks naturally have the best community support. Is popularity the sole factor to consider when choosing a stack? Not really. It's just one of many factors people should keep in mind.-->
<!--<h6>So how is this index different than other measurements like Tiobe, Githut or Redmonk?</h6>-->
<!--As I said I only measures Stackoverflow data (e.g number of questions asked in a time period). The other sites either measure Google search volume (Tiobe), Github activity (Githut) or a combination of the two. Also, I measure popularity for other interesting tools like web frameworks (Angular, Rails etc) and not just programming languages. But I definitely  encourage you to compare my data with other measurements such as Tiobe's index and to reach your own conclusions.-->
<div class="container">
  <div class="row title-block">
    <h3 class="title">Stacky</h3>
    <h4>Measuring programming languages and frameworks popularity by Stackoverflow questions</h4>
  </div>
</div>

<%= render partial: "categories/category" %>