<header class="header">
  <nav>
    <ul class="menu">
      <li class="home"><a href="/">HOME</a></li>
      <li class="top frameworks"><a href="/categories/2">Front End Frameworks</a></li>
      <li class="top frameworks"><a href="/categories/1">Full Stack Frameworks</a></li>
    </ul>
  </nav>
</header>